body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Howdy';
  src: url('../assets/fonts/CaptainHowdy.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

#gameCanvas {
  position: relative;
  overflow: hidden;
  width: calc(100% - 16px);
  height: calc(100vh - 16px);
   background: #000000 url('../assets/images/title.jpg') center/cover no-repeat; 
  margin: 0px;
  display: block;
}

.howdy-font {
  font-family: 'Howdy';
  font-weight: 100;
  font-style: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.button-start {
  cursor: pointer;
  user-select: none;
}